$btn-margin: 2%;
$btn-size: 25%;

.cal-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -$btn-margin;
}

.cal-grid-item {
  width: $btn-size - $btn-margin - $btn-margin;
  margin: $btn-margin;
}

.cal-grid-long-item {
  width: ($btn-size * 2) - $btn-margin - $btn-margin;
  margin: $btn-margin;
}
