@import './cal-btn-inner.module';

.cal-long-btn {
  position: relative;
  border-radius: 4rem;
  width: 100%;
  font-size: 1em;
  line-height: 1em;
  padding-top: 22.825%;
  padding-bottom: 22.825%;
  border-width: 0;
}
